<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body ng-app="PlayAdminApp">

        <nav class="navbar navbar-default" role="navigation" id="top-menu">
           <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="navbar-header">
                    <span class="navbar-brand" href="#">Playme</span>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="#/directories" id="navbar-playlists">Directories</a></li>
                    <li><a href="#/tracks" id="navbar-playlists">Tracks</a></li>
                    <li><a href="#/users" id="navbar-playlists">Users</a></li>
                    <li><a href="#/artists" id="navbar-playlists">Artists</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle class="dropdown-toggle" data-toggle="dropdown">me <b class="caret"></b></a>
                         <ul class="dropdown-menu">
                              <li><a href="#">{{ me.user.name }}</a></li>
                              <li role="presentation" class="divider"></li>
                              <li><a href="" id="logout" ng-click="me.logout()">Logout</a></li>
                          </ul>
                    </li>
                </ul>
           </div>
        </nav>
        <div  ng-if="me.isAdmin()" ng-view class="container-fluid"></div>
        <div  ng-if="!me.isAdmin()" ng-controller="LoginController" class="container-fluid">
            <div ng-if="me.isLoggedIn()" class="has-error">
                <p>You don't have sufficent rights.
                Please logout and then login as administrator.
                {{ me.user.name }} <button class="btn btn-default" type="button" ng-click="me.logout()">Logout</button>
                </p>
            </div>
            <form ng-if="!me.isLoggedIn()" id="login-form" method="POST" ng-submit="submit()">
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" id="login-name" class="form-control" placeholder="Login name" aria-describedby="login-name-addon" ng-model="$parent.name" />
                    </div>
                    <div class="form-group">
                        <input type="password" id="login-password" class="form-control" placeholder="***" aria-describedby="login-password-addon" ng-model="$parent.password" />
                    </div>
                     <div class="form-group">
                        <input type="checkbox" id="login-remember" class="form-control"  aria-describedby="login-remember-addon" ng-model="$parent.remember" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="login-form-submit" type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>

        </div>

    </div>
    <script src="/static/js/angular.js"></script>
    <script src="/static/js/angular-route.js"></script>
    <script src="/static/js/angular-ui.js"></script>
    <script src="/static/js/angular-resource.js"></script>
    <script src="/static/app/services.js"></script>
    <script src="/static/app/controller.js"></script>
    <script src="/static/app/admin.js"></script>


    <script type="text/ng-template" id="templates/users/edit.html">
        <form class="form" ng-submit="save($event)">
            <div class="form-group">
                <label for="user_name">Login name</label>
                <input type="text" ng-model="user.name" class="form-control" id="user_name" placeholder="Name"/>
            </div>
            <div class="form-group">
                <label for="user_password">Password</label>
                <input type="password" ng-model="user.password" class="form-control" id="user_password" placeholder="Password"/>
            </div>
            <div class="checkbox">
                <label for="user_active">
                    <input type="checkbox" value="1" ng-model="user.active" id="user_active"/> Active state
                </label>
            </div>
            <ul>
                <li ng-repeat="role in user.roles">{{ role }}<span class="glyphicon glyphicon-trash" ng-click="deleteRole($index)"></span></li>
                <li ><input type="text" ng-submit="addRole($event)" ng-keydown="addRole($event)" ng-model="form.role" /></li>
            </ul>
            <button type="submit" >{{user._id ? 'Save' : 'Create'}}</button>
        </form>
    </script>


    <script type="text/ng-template" id="templates/directories/index.html">
        <a class="btn btn-default" href="#/directories/new" role="button">New</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Path</th>
                    <th>Last scan</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="directory in directories._items">
                    <td>{{ directory.name }}</td>
                    <td>{{ directory.path }}</td>
                    <td>{{ directory.scanned }}</td>
                    <td>{{ directory._created }}</td>
                    <td>{{ directory._updated }}</td>
                    <td>
                        <span class="glyphicon glyphicon-trash" ng-click="delete(directory)"></span>
                        <a href="#/directories/{{ directory._id }}/edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <span class="glyphicon glyphicon-repeat" ng-click="triggerRescan(directory)"></span>
                        <a href="#/directories/{{ directory._id }}"><span class="glyphicon glyphicon-info-sign"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </script>


    <script type="text/ng-template" id="templates/directories/edit.html">
        <form class="form" ng-submit="save($event)">
            <div class="form-group">
                <label for="directory_name">Directory name</label>
                <input type="text" ng-model="directory.name" class="form-control" id="directory_name" placeholder="Name" />
            </div>
            <div class="form-group">
                <label for="directory_path">Directory Path</label>
                <input type="text" ng-model="directory.path" class="form-control" id="directory_path" placeholder="path" />
            </div>
            <button class="btn btn-default" type="submit">{{ directory._id ? "Save" : "Create" }}</button>

        </form>
    </script>


    <script type="text/ng-template" id="templates/directories/view.html">
        <h2> Directory infos</h2>
        <span> {{ directory.name }} </span>
        <span> {{ directory.path }} </span>
        <span> {{ directory.scanned }} </span>
        <span> {{ directory._created }} </span>
        <span> {{ directory._updated }} </span>
        <a class="btn btn-default" href="#/directories/{{ directory._id }}/edit)">Edit</a>
        <span>Track Count: {{ tracks._meta.total }} </span>
    </script>


    <script type="text/ng-template" id="templates/users/index.html">
        <a class="btn btn-default" href="#/users/new" role="button">New</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Roles</th>
                    <th>Last login</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users._items">
                    <td>{{ user.name }}</td>
                    <td>{{ user.active }}</td>
                    <td>
                        <div class="btn-group" uib-dropdown>
                            <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                                Roles <span class="caret"></span>
                            </button>
                          <ul class="uib-dropdown-menu" role="menu">
                                <li role="menuitem" ng-repeat="role in user.roles"><a>{{ role }}</a></li>
                          </ul>
                        </div>



                    </td>
                    <td>{{ user.last_login }}</td>
                    <td>{{ user._created }}</td>
                    <td>{{ user._updated }}</td>
                    <td>
                        <span class="glyphicon glyphicon-trash" ng-click="delete(user)"></span>
                        <span ng-if="user.active == true" ng-click="setActiveState(user, false)" class="glyphicon glyphicon-ok"></span>
                        <span ng-if="user.active !== true" ng-click="setActiveState(user, true)" class="glyphicon glyphicon-remove"></span>
                        <a href="#/users/{{ user._id }}"><span class="glyphicon glyphicon-edit" ></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </script>


    <script type="text/ng-template" id="templates/tracks.html">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Directory</th>
                    <th>Media Info</th>
                    <th>Scanned</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="track in tracks._items">
                    <td>{{ track.name }}</td>
                    <td>{{ track._embedded.directory.name }}</td>
                    <td>Media Info</td>
                    <td>{{ track.scanned }}</td>
                    <td>{{ track._created }}</td>
                    <td>{{ track._updated }}</td>
                    <td>
                        <span ng-if="track.active == true" ng-click="setActiveState(track, false)" class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-repeat" ng-click="triggerRescan(track)"></span>
                        <span ng-if="track.active !== true" ng-click="setActiveState(track, true)" class="glyphicon glyphicon-remove"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </script>


    <script type="text/ng-template" id="templates/artists/index.html">
        <div class="form-group">
            <a class="btn btn-default" href="#/artists/new" role="button">New</a>
        </div>
        <div class="">
            <div class="form-group form-inline">
                <label for="searchField">Filter:</label>
                <select class="form-control"  ng-model="criteriaForm.field" id="searchField">
                    <option value="search">All</option>
                    <option value="name">Name</option>
                    <option value="namevariations">Name variations</option>
                    <option value="aliases">Aliases</option>
                    <option value="realname">Realname</option>
                </select>
                <input class="form-control" type="text" ng-model="criteriaForm.value" />
                <button class="btn btn-default" type="button" ng-click="addSearchCriteria()">Add criteria</button>
            </div>
            <div class="form-group form-inline" ng-repeat="criteria in searchCriteria">
                <label>Criteria:</label>
                <select ng-change="updateArtists()" class="form-control"  ng-model="criteria.field">
                    <option value="search">All</option>
                    <option value="name">Name</option>
                    <option value="namevariations">Name variations</option>
                    <option value="aliases">Aliases</option>
                    <option value="realname">Realname</option>
                </select>
                <input class="form-control" type="text" ng-change="updateArtists()" ng-model-options="{updateOn: 'blur'}" ng-model="criteria.value" />
                <span class="glyphicon glyphicon-trash" ng-click="deleteCriteria($index)"></span>
            </div>
            <div class="form-group form-inline">
                <label for="searchMaxResults">Limit:</label>
                <select id="searchMaxResults" ng-change="updateArtists()" class="form-control" ng-model="search.max_results" ng-options="value as value for value in [10, 100, 200, 300]"></select>
            </div>
        </div>
        <uib-pagination ng-change="updateArtists()" total-items="totalItems"  items-per-page="maxResults" ng-model="search.page" max-size="10" class="pagination-sm" boundary-links="true"></uib-pagination>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Realname</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="artist in artists._items">
                    <td>{{ artist.name }}</td>
                    <td>{{ artist.realname }}</td>
                    <td>{{ artist._created }}</td>
                    <td>{{ artist._updated }}</td>
                    <td>
                        <span class="glyphicon glyphicon-trash" ng-click="delete(artist)"></span>
                        <a href="#/artists/{{ artist._id }}/edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="#/artists/{{ artist._id }}"><span class="glyphicon glyphicon-info-sign"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </script>


    <script type="text/ng-template" id="templates/artists/view.html">
        <div class="panel panel-default panel-body">
            <label>Name</label>
            <p>{{ artist.name }}</p>

        </div>
        <div class="panel panel-default panel-body">
            <label>Realname</label>
            <p>{{ artist.realname }}</p>

        </div>
        <div class="panel panel-default panel-body">
            <label>Profile</label>
            <p>{{ artist.profile }}</p>
        </div>
        <div class="panel panel-default panel-body">
            <label>Aliases</label>
            <ul>
                <li ng-repeat="alias in artist.aliases">{{ alias}}</li>
            </ul>
        </div>
        <div class="panel panel-default panel-body">
            <label>Name variations</label>
            <ul>
                <li ng-repeat="namevariation in artist.namevariations">{{ namevariation }}</li>
            </ul>
        </div>
        <a class="btn btn-default" href="#/artists/{{ artist._id }}/edit">Edit</a>
    </script>


    <script type="text/ng-template" id="templates/artists/edit.html">
        <form name="artistForm" ng-submit="save()">
            <div class="form-group">
                <label>Name</label>
                <input ng-model="artist.name" class="form-control" />
            </div>
            <div class="form-group">
                <label>Realname</label>
                <input ng-model="artist.realname" class="form-control" />
            </div>
            <div class="form-group">
                <label>Profile</label>
                <textarea ng-model="artist.profile" class="form-control"> </textarea>
            </div>
            <div class="form-group">
                <label>Aliases</label>
                <ul>
                    <li ng-repeat="alias in artist.aliases">{{ alias}}</li>
                </ul>
            </div>
            <div class="form-group">
                <label>Name variations</label>
                <ul>
                    <li ng-repeat="namevariation in artist.namevariations">{{ namevariation }}</li>
                </ul>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </script>

</body>
</html>
